.article {
  background-color: #f5f5f5;
  padding: 1.6rem 2.2rem;
  border-radius: 2.8rem;
  border-color: #a7a750;
}

.article a:link {
  text-decoration: none;
}

.article a:hover {
  text-decoration: underline;
}

.article a:visited {
  color: #aaa;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.3rem 0;
}

.description {
  font-size: 0.9rem;
  color: #333333;
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 1.5rem;
}

.scrapedDateTime {
  font-size: 0.9rem;
  margin: 0.3rem 0;
}

.image {
  height: 10rem;
  margin: 0.4rem 0;
}

.image > img {
  object-fit: cover;
  height: 10rem;
  width: 100%;
  border-radius: 0.3rem;
}
