.appBase {
  min-height: 100vh;
  padding: 8px 8px 5rem 8px;
}

.title {
  font-family: "Tempus Sans ITC";
  color: #e7e7e7;
  text-align: center;
  font-weight: normal;
  margin: 0;
}

.credit {
  font-size: 0.5rem;
  text-align: center;
  color: #ccc;
}
